body {
}

#MapDiv {
	width: 100px;
	height: 200px;
}

.win-appbar {
    background-color: #009FE4;
}

.MicrosoftNav {
    /*display: none;*/
}
progress::-ms-fill { animation-name:-ms-bar; }

.infobox {
	position:absolute;
	background-color:white;
	border:1px solid #009FE4;
	padding: 10px;
	left:0px;
	top:0px;
	width:250px;
    color: #000;
}
.infobox h3 {
    font-weight: bold;
}
    

#backAppBar {
    /*background-color:rgba(255,255,255,.8);*/
    font-size:2em;
    font-weight:200;
	border-bottom: 3px solid #FFF;
}

#backAppBar li {
    padding:0 10px;
    vertical-align:middle;
}

#backAppBar li:first-child {
    padding:0 10px 0 0;
}

#backAppBar a {
    color:#444;
}
.inln_blck li{
    display:inline-block;
}

.win-settingsflyout .win-header {
    background-color: #009FE4;
}

.change_city {
    font-size: 12px;
}

#directionsItinerary {
    
    width: 25%;
    height: 100%;
    float: right;
    background-color:#fff; 
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    color: #000;
    overflow: auto;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
    .change_city {
        display: none;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
